.transaction_card__wrap {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--color-light-grey);
  padding-bottom: 12px;
  flex-grow: 1;

}

.card__amount {
  font-weight: 600;
  margin-right: 12px;
}

.card__description {
  font-size: 14px;
  line-height: 16px;
}

.transaction__positive {
  color: var(--color-main-green);
}

.transaction__negative {
  color: var(--color-main-red);
}

.card__time {
  margin-left: auto;
  font-size: 12px;
  color: var(--color-dark-grey);
}
