.categories__no_data {
  display: flex;
  justify-content: center;
}

.categories__wrap {
  margin-top: 12px;
}

.category_page__wrap {
  margin-top: 24px;
}

.categories__link {
  color: rgba(44, 102, 245, 0.86) !important;
  padding: 0 3px;
}
