.edit_input__wrap {
  display: flex;
  align-items: center;
  min-height: 34px;
}

.edit_input {
  display: flex;
  align-items: center;
  position: relative;
  min-height: 30px;
}

.edit_icon {
  position: absolute;
  top: 0;
  right: -38px;
}