.transactions__wrap {

}

.transactions__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.dashboard__content {
  border-top: 1px solid #e4e4e4;
  padding-top: 24px;
  display: flex;
  gap: 24px;
}

.dashboard__main {
  flex: 1 1 auto;
}

.dashboard__aside {
  flex: 0 0 400px;
}
