.headerWrap {
  display: flex;
  justify-content: space-between;
  gap: 48px;
  padding-bottom: 12px;
}

.headerBalanceItem {
  display: flex;
}

.headerBalanceIcon {
  margin-right: 12px;
}

.headerBalanceInfo {

}

.headerBalanceTitle {
  font-size: 14px;
  font-weight: 300;
  color: var(--color-dark-grey);
}

.headerBalanceValue {
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
}

.headerProfile {
  margin-left: auto;
}

.headerProfileSkeleton {
  margin-left: auto;
  display: flex;
  gap: 8px;
}