.transactions__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.transactions__see_all {
  color: var(--color-main-blue);
}

.transactions__create_form {
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: 1px solid var(--color-light-grey);
}

.transactions__search {
  margin-bottom: 24px;
}
