.transaction__form__wrap {
  padding: 16px;
  box-shadow: 0 2px 40px -15px rgba(34, 60, 80, 0.6);
  width: max-content;
  height: max-content;
  border-radius: 4px;
}

.transaction__form__title {
  margin-bottom: 12px;
}

.transaction__form {
  display: flex;
  gap: 24px;
}

.form__row {
  display: flex;
  gap: 8px;
}

.form__inputs_group {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form__inputs_controls {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
}

.transaction__form__switch {
  display: flex;
  width: max-content;
  overflow: hidden;
  gap: 8px;
}

.form__switch__btn {
  width: 40px;
  height: 40px;
  min-width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  opacity: 0.5;
  border-radius: 4px;
  user-select: none;
}

.switch__btn__positive {
  background-color: var(--color-main-blue);
}

.switch__btn__negative {
  background-color: var(--color-main-red);
}

.form__switch__btn.active {
  opacity: 1;
}

.form__input {
  width: 300px;
}
