.transaction__form__wrap {
  width: max-content;
  height: max-content;
}

.transaction__form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form__row {
  display: flex;
  gap: 8px;
}

.form__inputs_group {
  display: flex;
  gap: 12px;
}

.form__inputs_controls {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.transaction__form__switch {
  display: flex;
  align-items: center;
  width: max-content;
  overflow: hidden;
  gap: 8px;
}

.form__switch__btn {
  width: 20px;
  height: 20px;
  min-width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  opacity: 0.5;
  border-radius: 50%;
  user-select: none;
}

.switch__btn__positive {
  background-color: var(--color-main-blue);
}

.switch__btn__negative {
  background-color: var(--color-main-red);
}

.form__switch__btn.active {
  opacity: 1;
}

.form__input_amount {
  flex-grow: 1;
}

.form__input_description {
  flex-grow: 3;
}
