.app__container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app__content {
  flex-grow: 1;
  padding: 24px 48px;
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 768px) {
    padding: 16px;
  }
}
